<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<title>아이디 찾기</title>
	
	<!-- 공통 css -->
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/theme.css"/>
	
</head>
<body class="bgc_light_grey">
			
	<div class="wrap main">
		
		<div class="main_content membership id_find"> 
		
			<div class="main_title">
					<h2>아이디 찾기</h2>
			</div>
			
			<div class="content_box">		
				
				<hr/>
				<div class="clearfix" style="width:95%;margin:0 auto">
					<br />
					<h3 style="text-align:left">관리자에게 문의하세요</p>
					<br />
					<br />
					<h3 style="text-align:right">전화번호 : 02 - 000 - 0000</p>
					<br />
				</div>
				<hr/>
				
				<div class="submit_btn_box"> 
					<button type="button" class="save" onClick="location.href='login.html'">뒤로</button>
				</div>
				
			</div>	
			<!-- content_box -->
		</div>
		<!-- main_content -->
	</div>
	<!-- wrap main -->

</body>
</html>